.bin
.tmp
.obj
*~
*.log
*.status
*.pc
*.nsi
*.exe
*.tmp
*.layout
*.bak
*.depend
*.tar
*.bz2
*.cache
*.png
ChangeLog*
Makefile
aclocal.m4
configure
autom4te.cache
makegtkruntime.sh
pw3270.po
pw3270.spec
revision
revision.m4
src/classlib/class.mak
src/include/lib3270/config.h
stamp-h1
src/include/plugin.mak
src/include/rules.mak
src/java/jni3270.h
src/lib3270/fallbacks.c
src/lib3270/mkversion.sh
src/lib3270/version.c
src/loffice/description.xml
src/loffice/manifest.xml
src/php/php3270.h
src/pw3270/pw3270-logo.png
src/pw3270/pw3270.png
src/pw3270/v3270/marshal.c
src/pw3270/v3270/marshal.h
src/plugins/dbus3270/dbus-glue.h
src/java/javadoc/
src/loffice/.rdb/
src/loffice/include/

