
body
{
	background-color: black;
	color: green;
}

body, input
{
	font-family: courier;
	font-size: 20px;
}

#terminal
{
	width: 49em;
}

input
{
	border: none;
	padding: 0px;
	background-color: black;
	color: #00ff00;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

input:focus
{
	outline:none;
}

input[type="text"]
{
	background-color: #101010;
}

input[type="text"]:focus
{
	background-color: #101010;
}

input[type="password"]
{
	background-color: #101010;
}

input[type="password"]:focus
{
	background-color: #101010;
}

#terminal
{
	z-index: 10;
	background-color: black;
}

#pfbar
{
	z-index: -1;
	width: 49em;
	background: black;
	color: white;
	text-align: center;
	border-top: 1px solid #fff;
}

a
{
	text-decoration: none;
	color: black;
}

.pfkey
{
	margin: 1px;
	background: gray;
	color: black;
	width: 4em;
	border: 1px solid darkgray;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	display: inline-block;
	border-radius: 3px;
}

.IW001
{
	width: 1.5em;
}

.IW002
{
	width: 1.3em;
}

.IW003
{
	width: 2.0em;
}

.IW004
{
	width: 2.6em;
}

.IW005
{
	width: 3.2em;
}

.IW006
{
	width: 3.8em;
}

.IW007
{
	width: 4.4em;
}

.IW008
{
	width: 5em;
}

.IW009
{
	width: 5.6em;
}

.IW010
{
	width: 6.2em;
}

.IW011
{
	width: 6.8em;
}

.IW012
{
	width: 7.4em;
}

.IW013
{
	width: 8.0em;
}

.IW014
{
	width: 8.6em;
}

.IW015
{
	width: 9.2em;
}

.IW016
{
	width: 9.8em;
}

.IW017
{
	width: 10.4em;
}

.IW018
{
	width: 11em;
}

.IW019
{
	width: 11.6em;
}

.IW020
{
	width: 12.2em;
}

.IW021
{
	width: 12.8em;
}

.IW022
{
	width: 13.4em;
}

.IW023
{
	width: 14em;
}

.IW024
{
	width: 14.6em;
}

.IW025
{
	width: 15.2em;
}

.IW026
{
	width: 15.8em;
}

.IW027
{
	width: 16.4em;
}

.IW028
{
	width: 17em;
}

.IW029
{
	width: 17.6em;
}

.IW030
{
	width: 18.2em;
}

.IW031
{
	width: 18.8em;
}

.IW032
{
	width: 19.4em;
}

.IW033
{
	width: 20em;
}

.IW034
{
	width: 20.6em;
}

.IW035
{
	width: 21.2em;
}

.IW036
{
	width: 21.8em;
}

.IW037
{
	width: 22.4em;
}

.IW038
{
	width: 23em;
}

.IW039
{
	width: 23.6em;
}

.IW040
{
	width: 24.2em;
}

.IW041
{
	width: 24.8em;
}

.IW042
{
	width: 25.4em;
}

.IW043
{
	width: 26em;
}

.IW044
{
	width: 26.6em;
}

.IW045
{
	width: 27.2em;
}

.IW046
{
	width: 27.8em;
}

.IW047
{
	width: 28.4em;
}

.IW048
{
	width: 29em;
}

.IW049
{
	width: 29.6em;
}

.IW050
{
	width: 30.2em;
}

.IW051
{
	width: 30.8em;
}

.IW052
{
	width: 31.4em;
}

.IW053
{
	width: 32em;
}

.IW054
{
	width: 32.6em;
}

.IW055
{
	width: 33.2em;
}

.IW056
{
	width: 33.8em;
}

.IW057
{
	width: 34.4em;
}

.IW058
{
	width: 35em;
}

.IW059
{
	width: 35.6em;
}

.IW060
{
	width: 36.2em;
}

.IW061
{
	width: 36.8em;
}

.IW062
{
	width: 37.4em;
}

.IW063
{
	width: 38em;
}

.IW064
{
	width: 38.6em;
}

.IW065
{
	width: 39.2em;
}

.IW066
{
	width: 39.8em;
}

.IW067
{
	width: 40.4em;
}

.IW068
{
	width: 41em;
}

.IW069
{
	width: 41.6em;
}

.IW070
{
	width: 42.2em;
}

.IW071
{
	width: 42.8em;
}

.IW072
{
	width: 43.4em;
}

.IW073
{
	width: 44em;
}

.IW074
{
	width: 44.6em;
}

.IW075
{
	width: 45.2em;
}

.IW076
{
	width: 45.8em;
}

.IW077
{
	width: 46.4em;
}

.IW078
{
	width: 47em;
}

.IW079
{
	width: 47.6em;
}

.IW080
{
	margin-left: 0px;
	margin-right: 0px;
	width: 48em;
}
