
body
{
	background-color: black;
	color: green;
}

body, input
{
	font-family: courier;
	font-size: 20px;
}

#terminal
{
	width: 49em;
}

input
{
	border: none;
	padding: 0px;
	background-color: black;
	color: #00ff00;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

input[type="text"]
{
	border: 1px solid #004000
}

#pfbar
{
	width: 49em;
	background: black;
	color: white;
	text-align: center;
	border-top: 1px solid #fff;
}

a
{
	text-decoration: none;
	color: black;
}

.pfkey
{
	margin: 1px;
	background: gray;
	color: black;
	width: 4em;
	border: 1px solid darkgray;
	text-decoration: none;
	font-size: 15px;
	font-family: arial;
	display: inline-block;
}

.IW001
{
	width: 1.5em;
}

.IW002
{
	width: 2em;
}

.IW003
{
	width: 2.5em;
}

.IW004
{
	width: 3em;
}

.IW005
{
	width: 3.5em;
}

.IW006
{
	width: 4em;
}

.IW007
{
	width: 4.5em;
}

.IW008
{
	width: 5em;
}

.IW009
{
	width: 5.5em;
}

.IW010
{
	width: 6em;
}

.IW011
{
	width: 6.5em;
}

.IW012
{
	width: 7em;
}

.IW013
{
	width: 7.5em;
}

.IW014
{
	width: 8em;
}

.IW015
{
	width: 8.5em;
}

.IW016
{
	width: 9em;
}

.IW017
{
	width: 9.5em;
}

.IW018
{
	width: 10em;
}

.IW019
{
	width: 10.5em;
}

.IW020
{
	width: 11em;
}

.IW021
{
	width: 11.5em;
}

.IW022
{
	width: 12em;
}

.IW023
{
	width: 12.5em;
}

.IW024
{
	width: 13em;
}

.IW025
{
	width: 13.5em;
}

.IW026
{
	width: 14em;
}

.IW027
{
	width: 14.5em;
}

.IW028
{
	width: 15em;
}

.IW029
{
	width: 15.5em;
}

.IW030
{
	width: 16em;
}

.IW031
{
	width: 16.5em;
}

.IW032
{
	width: 17em;
}

.IW033
{
	width: 17.5em;
}

.IW034
{
	width: 18em;
}

.IW035
{
	width: 18.5em;
}

.IW036
{
	width: 19em;
}

.IW037
{
	width: 19.5em;
}

.IW038
{
	width: 20em;
}

.IW039
{
	width: 20.5em;
}

.IW040
{
	width: 21em;
}

.IW041
{
	width: 21.5em;
}

.IW042
{
	width: 22em;
}

.IW043
{
	width: 22.5em;
}

.IW044
{
	width: 23em;
}

.IW045
{
	width: 23.5em;
}

.IW046
{
	width: 24em;
}

.IW047
{
	width: 24.5em;
}

.IW048
{
	width: 25em;
}

.IW049
{
	width: 25.5em;
}

.IW050
{
	width: 26em;
}

.IW051
{
	width: 26.5em;
}

.IW052
{
	width: 27em;
}

.IW053
{
	width: 27.5em;
}

.IW054
{
	width: 28em;
}

.IW055
{
	width: 28.5em;
}

.IW056
{
	width: 29em;
}

.IW057
{
	width: 29.5em;
}

.IW058
{
	width: 30em;
}

.IW059
{
	width: 30.5em;
}

.IW060
{
	width: 31em;
}

.IW061
{
	width: 31.5em;
}

.IW062
{
	width: 32em;
}

.IW063
{
	width: 32.5em;
}

.IW064
{
	width: 33em;
}

.IW065
{
	width: 33.5em;
}

.IW066
{
	width: 34em;
}

.IW067
{
	width: 34.5em;
}

.IW068
{
	width: 35em;
}

.IW069
{
	width: 35.5em;
}

.IW070
{
	width: 36em;
}

.IW071
{
	width: 36.5em;
}

.IW072
{
	width: 37em;
}

.IW073
{
	width: 37.5em;
}

.IW074
{
	width: 38em;
}

.IW075
{
	width: 38.5em;
}

.IW076
{
	width: 39em;
}

.IW077
{
	width: 39.5em;
}

.IW078
{
	width: 40em;
}

.IW079
{
	width: 40.5em;
}

.IW080
{
	width: 41em;
}



