.bin
.tmp
.obj
.pot
*~
*.log
*.status
*.pc
*.nsi
*.exe
*.tmp
*.layout
*.bak
*.depend
*.tar
*.bz2
*.cache
*.png
*.zip
*.ico
*.pot
*.[0-9]
versions
ChangeLog*
Makefile
aclocal.m4
configure
autom4te.cache
makegtkruntime.sh
copydeps.sh
revision
revision.m4
stamp-h1
marshal.c
marshal.h
fallbacks.c
version.c
config.h
mkversion.sh
dbus-glue.h
BUILD
BUILDROOT
RPMS
SOURCES
SPECS
SRPMS
resources.rc
makeruntime.sh
scripts
