Source: pw3270
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), meson, libv3270-dev, desktop-file-utils, scour

Package: pw3270
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IBM 3270 Terminal emulator for gtk
 IBM 3270 terminal emulator gtk. It can be used to communicate with
 any IBM host that supports 3270-style connections over TELNET.

Package: pw3270-dbg
Architecture: any
Depends: pw3270 (= ${binary:Version})
Description: Debugging symbols for pw3270
 This package contains the debugging symbols for pw3270's internal libs.

