name: check-macos
on:
  push:
    branches: [ "macos" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  macos-bundle:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: oprypin/find-latest-tag@v1
        id: gettag
        with:
          repository: PerryWerneck/pw3270
          releases-only: true
      - name: Install Pre reqs
        run: |
          brew update
          brew install xz meson ninja curl gettext openssl pkgconfig gtk+3 adwaita-icon-theme scour librsvg create-dmg
          brew upgrade
      - name: Check out lib3270
        uses: actions/checkout@v4
        with:
          repository: PerryWerneck/lib3270
          ref: macos
          path: subprojects/lib3270
      - name: Check out libv3270
        uses: actions/checkout@v4
        with:
          repository: PerryWerneck/libv3270
          ref: macos
          path: subprojects/libv3270
      - name: Create bundle
        run: |
          ./mac/bundle
      - name: Publish bundle
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.gettag.outputs.tag }}
          artifacts: "*.dmg"
          allowUpdates: true
          draft: false
          makeLatest: true
          omitBody: true
          omitPrereleaseDuringUpdate: true
          replacesArtifacts: true
              

