name: check-msys2
on:
  push:
    branches: [ "windows" ]
  pull_request:
    branches: [ "master" ]

jobs:
  msys2-build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          install: dos2unix mingw-w64-x86_64-gcc automake autoconf make git pkgconf mingw-w64-x86_64-gettext gettext-devel mingw-w64-x86_64-openssl libtool mingw-w64-x86_64-gtk3 mingw-w64-x86_64-imagemagick mingw-w64-x86_64-optipng mingw-w64-x86_64-inkscape
      - name: Check out lib3270
        uses: actions/checkout@v4
        with:
          repository: PerryWerneck/lib3270
          ref: master
          path: subprojects/lib3270
      - name: Check out libv3270
        uses: actions/checkout@v4
        with:
          repository: PerryWerneck/libv3270
          ref: master
          path: subprojects/libv3270
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2


